@inherits LayoutComponentBase

<PageTitle>MyWeatherApp_WeatherAPI</PageTitle>

<div class="page">


    <main>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="#">
                    <img src="https://m.media-amazon.com/images/I/61ql+Qimu-L.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    My Weather App
                </a>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
